<!-- <top-header></top-header> -->
<section class="section-container">
    <section class="flex-container background">
      <section class="contact-wrapper">
        <form action="MAILTO:nevarez.dan@gmail.com" method="post" enctype="text/plain" class="contact-wrapper">
          <section class="send-mail">

            <input placeholder="Name" class="name-input contact">
            <input placeholder="Email" class="contact">
            <input placeholder="Subject" class="subject-input contact">
            <textarea placeholder="Message.." class="message-input contact"></textarea>

            <input type="submit" value="Send" class="send">
            <!-- <input type="reset" value="Reset"> -->

          </section>
        </form>
        <!-- <section>
          <img src="">
          <img src="">
          <img src="">
          <img src="">
        </section> -->
      </section>
    </section>
</section>
