<header>
    <nav id="menu">
      <ul>
        <li class="jump"><a ui-sref-active="glow" ui-sref='about'>About</a></li>
        <li class="jump"><a ui-sref-active="glow" ui-sref='portfolio'>Portfolio</a></li>
        <li class="jump"><a ui-sref-active="glow" ui-sref='contact'>Contact</a></li>
      </ul>
    </nav>
</header>
<!-- using ui-sref-active="class" inside the a tag alongside ui-sref will
automatically assign the class indicated to the link when the that link is the active page.
However, this makes my directive redundant, so I won't be using it in this project  -->
