<section class="section-container">
<section class='flex-container'>
  <section class='projects-container'>

    <section ng-click="now = !now" class="img-container port-color">
      <section ng-hide="now">
          <div>
              <img class="pic" src="Icon/anotherone.jpg">
          </div>
      </section>
      <section portfolio ng-show="now" class="port-height">
        Placeholder.
      </section>
    </section>

    <section ng-click="snow = !snow" class="img-container port-color">
      <section ng-hide="snow">
        <div>
          <img class="pic" src="Icon/picper.jpg">
        </div>
      </section>
      <section portfolio ng-show="snow" class="port-height">
        Placeholder.
      </section>
    </section>



  </section>

</section>
<section class="left-line">

</section>
</section>
