html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

.view {
  height: 100%;
}



// #menu {
//   display: none;
// }

// button {
//   height: 3em;
//   width: 3em;
//   align-self: center;
//   margin: 12px;
//   border: 1px solid black;
// }



.section-container {
  height: 100vh;
}
